<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>产品清单</title>
	<meta name="keywords" content="产品清单">
	<meta name="description" content="产品清单">
	<title>小贷</title>
	<link rel="stylesheet" href="css/yihang.css">
	<script src="js/Jquery.js"></script>
	<script src="js/underscore.js"></script>
</head>

<body>

	<div class="main-box">
		<div class="wrapper980">
			<div class="xiaoshou-info-title">
				<p>银行销售的所有金融产品均已在此处公示，如发现银行下属机构或人员向投资者销售公示范围以外的产品，可向银行进行举报。公示的金融产品风险评级系数由银行根据产品特性自行评定，各风险级别的具体含义及围如下，供投资者查阅。</p>
			</div>
			<div class="xiaoshou-list">
				<ul class="xiaoshou-tab-nav">
					<li class="active"><a href="#" otitle="本行理财" otype="button" data-table="table01">银行理财</a></li>
					<li><a href="#" otitle="公募基金" otype="button" data-table="table02">公募基金</a></li>
					<li><a href="#" otitle="养老保险" otype="button" data-table="table03">养老保障</a></li>
					<li><a href="#" otitle="保险" otype="button" data-table="table">保险</a></li>
					<li class="w196"><a href="#" otitle="信托/资管计划及其他" otype="button" data-table="table04">信托/资管计划及其他</a></li>
				</ul>
				<div class="xiaoshou-product-list">
					<table class="product-table table01" style="display:block;">
						<thead>
							<tr>
								<th width="130px">产品代码</th>
								<th width="130px">产品名称</th>
								<th width="130px">管理机构</th>
								<th width="130px">风险等级</th>
								<th width="130px">认购金额起点(元)</th>
								<th width="130px">销售网点</th>
							</tr>
						</thead>
						<tbody>
							
						</tbody>
					</table>
					<table class="product-table table02">
						<thead>
							<tr>
								<th width="100px">产品代码</th>
								<th width="100px">产品名称</th>
								<th width="100px">TA代码</th>
								<th width="100px">TA机构</th>
								<th width="100px">产品属性</th>
								<th width="100px">产品状态</th>
								<th width="100px">风险等级</th>
								<th width="130px">销售网点</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<table class="product-table table03">
						<thead>
							<tr>
								<th width="100px">产品代码</th>
								<th width="100px">产品名称</th>
								<th width="100px">TA代码</th>
								<th width="100px">TA机构</th>
								<th width="100px">产品属性</th>
								<th width="100px">产品状态</th>
								<th width="100px">风险等级</th>
								<th width="130px">销售网点</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<div class="product-info table">
						<p>EXCEl中包含平安银行在售的所有代销保险产品。请下载查看。</p>
						<p><a href="https://ssl.pingan.com/bank/xieyi/css/x4.26x_.xlsx;" otitle="前往下载" otype="button">前往下载</a></p>
					</div>
					<table class="product-table table04">
						<thead>
							<tr>
								<th width="100px">产品代码</th>
								<th width="100px">产品名称</th>
								<th width="100px">TA代码</th>
								<th width="100px">TA机构</th>
								<th width="100px">产品属性</th>
								<th width="100px">产品状态</th>
								<th width="100px">风险等级</th>
								<th width="130px">销售网点</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<div class="page">
					<span class="btn-group">
						<a class="btn">
							<span class="caret_top"></span>
							<span class="caret_down"></span>
						</a>
						<ul class="page_size">
							<li class="index01 active">10</li>
							<li class="index02">25</li>
							<li class="index03">50</li>
							<li class="index05">100</li>
						</ul>
					</span>
					<a class="signBorderFirst"></a>
					<span class="home_grap homeBtn"></span>
					<span class="prev_grap prevBtn"></span>
					<a class="signBorder2"></a>
					<div class="pages">
						<span>Page</span>
						<input class="pageNo" value="1">
						<span>of</span>
						<span class="totalPage"></span>
					</div>
					<a class="signBorder"></a>
					<span class="next nextBtn"></span>
					<span class="last lastBtn"></span>
					<a class="signBorder2"></a>
					<span class="refresh"></span>
					<div class="pages">
					<span>共</span><span class="totalSize"></span><span>条</span>
					</div>
				</div>
				
				</div>
		</div>
	</div>
	<script src="js/yihang.js"></script>
	<script type="text/template" id="tpl01">
		<% _.each(list,function(item){
			var mapRiskLevel = {
				"0": "未评定",
				"1": "低等风险",
				"2": "中低风险",
				"3": "中等风险",
				"4": "中高风险",
				"5": "高等风险"  
			};
		 %>
			<tr>
				<td> <%=item.prdCode %> </td>
				<td> <%=item.cnShortName %> </td>
				<td> 平安银行 </td>
				<td> <%=mapRiskLevel[item.riskLevel] %> </td>
				<td> <%=Number(item.minAmount).toFixed(2) %> </td>
				<td> 全行 </td>
			</tr>
		<% }) %>
	</script>
	<script type="text/template" id="tpl02">
		<% _.each(list,function(item){ 
			var mapRiskLevel = {
				"0": "未评定",
				"1": "低等风险",
				"2": "中低风险",
				"3": "中等风险",
				"4": "中高风险",
				"5": "高等风险"  
			};
			var mapStatus = {
				"0": "开放期",
				"1": "募集期",
				"2": "发行成功",
				"3": "发行失败",
				"4": "停止交易",
				"5": "停止申购",
				"6": "停止赎回",
				"7": "权益登记",
				"8": "红利发放",
				"9": "产品封闭期",
				"a": "产品终止",
				"b": "预约认购期"
			};
		%>
			<tr>
				<td> <%=item.prdCode %> </td>
				<td> <%=item.prdName %> </td>
				<td> <%=item.taCode %> </td>
				<td> <%=item.taName %> </td>
				<td> <%=item.prdArrName %> </td>
				<td> <%=mapStatus[item.status] %> </td>
				<td> <%=mapRiskLevel[item.riskLevel] %> </td>
				<td> 全行 </td>
			</tr>
		<% }) %>
	</script>
</body>

</html>
